.pie-de-pagina{
    height: 9.375rem;
    width: 100%;
    background-color: #5a6978;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contacto__icono{
    width: 1.3rem;
}
.pie-de-pagina__contacto__titulo{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.line__pie{
    width: 0.3125rem;
    height: 80%;
    background-color: white;
    border-radius: 0.6rem;
}
.pie-de-pagina__links{
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links__1{
    display: flex;
    flex-direction: column;
}
.links__2{
    display: flex;
    flex-direction: column;
}
.pie__texto{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}
.pie__texto:hover{
    cursor: pointer;
    color: #5cf2c8;
}
@media(min-width:0){
    .pie-de-pagina{
        height: 20rem;
        flex-direction: column;
    }
    .line__pie{
        width: 80%;
        height: 0.3125rem;
       
    }
}
@media(min-width:768px){
    .pie-de-pagina{
        height: 9.375rem;
        flex-direction: row;
    }
    .line__pie{
        width: 0.3125rem;
        height: 80%;
       
    }
}